.postTitle {
  font-size: 52px;
  font-weight: 800 !important;
}

.postTime {
  color: rgb(194, 194, 194);
  white-space: nowrap;
}

.postAuthor {
  font-size: 18px;
  font-weight: 600;
}

.postInfo {
  display: flex;
  gap: 0.35em;
}

.postContentConatiner {
  display: flex;
  justify-content: space-between;
}

.post {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .post {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .post {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .post {
    max-width: 960px;
  }
}

.postSide {
  width: auto;
}

.controlContainer {
  display: flex;
  gap: 5px;
}

.controlContainer button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.controlContainer button:hover {
  transform: scale(1.1);
}

.trash {
  color: rgb(189, 59, 59) !important;
}
