.postTitle {
  font-size: 52px;
  font-weight: 800 !important;
}

.postTime {
  color: rgb(194, 194, 194);
}

.postAuthor {
  font-size: 18px;
  font-weight: 600;
}

.postInfo {
  display: flex;
  gap: 0.35em;
}

.postContentConatiner {
  display: flex;
  justify-content: space-between;
}

.post {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .post {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .post {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .post {
    max-width: 960px;
  }
}

.postSide {
  width: auto;
}
