.loding {
  background-color: gray;
  border-radius: 0.25em;
  animation: skeleton 1s 1s infinite alternate;
}

.image {
  border-radius: 50% !important;
}

@keyframes skeleton {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.7);
  }
}
