.container {
  display: flex;
}

.form {
  display: flex;
  width: 100%;
  height: calc(100vh - 52px);
  flex-direction: column;
  position: relative;
}

.preview {
  width: 100%;
  background-color: rgb(29, 29, 29);
  padding: 1em;
}

.titleInput {
  background-color: transparent;
  font-size: 45px;
  font-weight: 800;
  height: 60px;
  resize: none;
  color: white;
  white-space: pre;
  border: none;
}

.titleInput:focus {
  outline: none;
}

.titleInput::placeholder {
  color: #cfcfcf;
  font-weight: 600;
}

.titleBar {
  width: 5em;
  border: 3.5px solid #787878;
  border-radius: 2px;
}

.contentInput {
  background-color: transparent;
  font-size: 45px;
  font-weight: 800;
  height: 60px;
  resize: none;
  color: white;
  white-space: pre;
  border: none;
  flex-grow: 1;
}

.footer {
  height: 70px;
}

.footerMenu {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 1em;
  left: 0px;
  width: 100vw;
  height: inherit;
  font-size: 20px;
  background-color: #232323;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.exitBtn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 200;
}

.exitBtn:hover {
  background-color: #4c4c4c;
}

.writeSuccess {
  display: flex;
  gap: 0.5em;
}

.previewBtn {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  color: #75b4e1;
  white-space: nowrap;
}

.successBtn {
  background-color: #75b4e1;
  color: #232323;
}

.closeBtn {
  color: #e17575;
}

.previewBtn:hover {
  background-color: #4c4c4c;
}

.successBtn:hover {
  background-color: #75d8e1;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: calc(100vh - 52px);
  z-index: 2;
  font-size: 25px;
  color: #a4a4a4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
