.form {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.titleInput {
  background-color: transparent;
  font-size: 45px;
  font-weight: 800;
  height: 60px;
  resize: none;
  color: white;
  white-space: pre;
  border: none;
}

.titleInput:focus {
  outline: none;
}

.titleInput::placeholder {
  color: #cfcfcf;
  font-weight: 600;
}

.titleBar {
  width: 5em;
  border: 3.5px solid #787878;
  border-radius: 2px;
}

.contentInput {
  width: 100%;
  box-sizing: border-box;
  white-space: pre;
  overflow-y: scroll;
  flex-grow: 1;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
  color: white;
}

.contentInput::placeholder {
  font-style: italic;
  color: #cfcfcf;
}

.contentInput:focus {
  outline: none;
}

.footer {
  height: 70px;
}

.footerMenu {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 1em;
  left: 0px;
  width: 100%;
  height: inherit;
  font-size: 20px;
  background-color: #232323;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.exitBtn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 200;
}

.exitBtn:hover {
  background-color: #4c4c4c;
}

.writeSuccess {
  display: flex;
  gap: 0.5em;
}

.previewBtn {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  color: #75b4e1;
  white-space: nowrap;
}

.successBtn {
  background-color: #75b4e1;
  color: #232323;
}

.previewBtn:hover {
  background-color: #4c4c4c;
}

.successBtn:hover {
  background-color: #75d8e1;
}
